[Desktop Entry]
Type=Application
Name=LeanHRPT Decode
Comment=An easy to use HRPT decoder
Categories=HamRadio;Science
Exec=LeanHRPT-Decode
Icon=LeanHRPT-Decode
